@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");

/* NavBar Section ---- */

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  color: #dbddc6;
}

.root-nav {
  font-size: 16px;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  text-decoration: none;
  color: #c9ce8c;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.root-nav::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 3px;
  left: 0;
  background-color: #dbddc6;
  transition: width 0.3s ease-in-out;
}

.root-nav:hover {
  color: #dbddc6;
}

.root-nav.active {
  color: #ffffff;
}

.search-btn {
  display: flex;
  align-items: center;
  color: #c9ce8c;
}

.search-btn > span {
  cursor: pointer;
}

.search-btn > input {
  color: #c9ce8c;
  border: none;
  padding: 4px 0 4px 4px;
  background-color: #3e432f;
}

.search-btn > input::placeholder {
  color: #c9ce8c;
  font-size: 15px;
  font-family: "Comic Neue", cursive;
  font-weight: 300;
}

.search-btn > input:focus::placeholder {
  color: #c9ce8c;
}

.search-btn > input:active {
  outline: none;
}

.search-btn > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #c9ce8c;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  animation: slideFromLeft 0.5s ease-in-out;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: transparent;
  }
}

.nav-link-dropDown {
  display: flex;
  align-items: center;
  gap: 100px;
  flex-direction: column;
  background-color: #3e432f;
  padding: 40px 0;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #c9ce8c;
}

.root-nav-dropDown {
  font-size: 23px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: #c9ce8c;
}

.root-nav-dropDown:hover {
  color: #f0f1da;
}

.nav-links > span {
  cursor: pointer;
  display: flex;
  align-items: center;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* HeroSection----  */

.heroSection {
  background-color: #c9ce8c;
  padding: 3rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #3e432f;
  font-style: normal;
}

.heroSection > h1 {
  font-size: 85px;
  font-weight: 500;
}

.heroSection > span {
  font-size: 22px;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
}

.image-container {
  background-color: #232c08;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container > img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* OurJourney Section---- */

.oj-bg-color {
  background-color: #c9ce8c;
}

.ourjourney-parent {
  background-color: #232c08;
  border-radius: 30px;
  color: #c9ce8c;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.ourjourney-holder > h2 {
  font-size: 64px;
  margin-bottom: 30px;
}

.ourjourney-holder > span {
  font-size: 28px;
  font-family: "Comic Neue", cursive;
  letter-spacing: 1px;
}

.ourJourney-discoveryHolder {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  font-family: "Comic Neue", cursive;
}

#ourJourney-discoveryHolder-id {
  flex-direction: column;
  align-items: start;
}

.ourJourney-discoveryHolder > p {
  font-size: 18px;
  letter-spacing: 1px;
}

.ourJourney-discoveryHolder > button {
  cursor: pointer;
  padding: 13px 25px;
  background-color: #c9ce8c;
  color: #232c08;
  border: 1px solid #c9ce8c;
  transition: 0.4s ease-in-out;
}

.ourJourney-discoveryHolder > button:hover {
  border: none;
  background-color: #232c08;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
}

.getAnswer-parent > h2 {
  font-size: 64px;
  margin-bottom: 30px;
}

.getAnswer-parent > p {
  font-size: 20px;
  font-family: "Comic Neue", cursive;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.getAnswer-text-info {
  padding-left: 12rem;
}

.getAnswer-text-info > p {
  padding: 20px 0;
}

.getAnswers-eachQuest-holder {
  display: flex;
  gap: 25px;
  width: 100%;
  padding: 15px 0 20px 0;
}

.getAnswers-eachQuest-holder > p {
  width: 50%;
}

/* Footer Section---- */

.footer-parent {
  background-color: #3e432f;
  padding: 5rem;
  color: #c9ce8c;
}

.footer-flex {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
}

.footer-flex > h2 {
  font-size: 30px;
}

.footer-info-holder {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.footer-sub-text > p {
  font-size: 32px;
  font-family: "Comic Neue", cursive;
}

.footerDetail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerDetail > p {
  font-family: "Comic Neue", cursive;
}

.rights {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 5px;
}

/* NewsLetter Section---- */

.newsletter > form > label {
  font-family: "Comic Neue", cursive;
  color: #c9ce8c;
  font-size: 16px;
}

.newsletter-input-btn {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.newsletter-input-btn > input[type="email"] {
  background-color: #3e432f;
  color: #dbddc6;
  border: none;
  border-bottom: 1px solid #c9ce8c;
  padding: 10px;
  font-size: 16px;
  width: 300px;
  max-width: 100%;
  outline: none;
}

.newsletter-input-btn > input:focus {
  background-color: #232c08;
}

.newsletter-input-btn > button {
  font-family: "Comic Neue", cursive;
  cursor: pointer;
  padding: 10px 45px;
  background-color: #c9ce8c;
  color: #232c08;
  border: 1px solid #c9ce8c;
  transition: 0.4s ease-in-out;
}

.newsletter-input-btn > button:hover {
  border: none;
  background-color: #232c08;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
}

/* Bible Section--- */

.bible-parent {
  background-color: #3e432f;
  color: #c9ce8c;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
}

.bible-parent > button {
  margin: 0 0 10px auto;
  cursor: pointer;
  padding: 10px 18px;
  background-color: #c9ce8c;
  color: #232c08;
  border: 1px solid #c9ce8c;
  transition: 0.4s ease-in-out;
}

.bible-parent > button:hover {
  border: none;
  background-color: #232c08;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
}

.bible-holder {
  background-color: #3e432f;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
  padding: 4rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.loader {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #3e432f;
}
#loader-id {
  padding-top: 12rem;
  height: 100vh;
}

.fadeloader {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 15rem;
  background-color: #3e432f;
  height: 100vh;
}

.reader-s-loader {
  margin: 10px 0 0 15px;
}

#nextVerse-button {
  display: flex;
  align-items: end;
  font-weight: 500;
}

#nextVerse-button > button {
  font-size: 15px;
  font-weight: 900;
}

.selection-label > h1,
.selection-label > h2 {
  margin-bottom: 7px;
}

.selection-label > select {
  background-color: #c9ce8c;
  color: #232c08;
  padding: 10px;
  border: none;
  outline: none;
  font-family: "Comic Neue", cursive;
}

.selectedBibleVerse-parent {
  border: 1px solid #c9ce8c;
  padding: 2rem;
}

.selectedBibleVerse-parent > h2 {
  margin-bottom: 1rem;
}

.selectedBibleVerse-parent > span {
  font-size: 19px;
}

.select-width {
  width: 100%;
}

.select-width option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 16px;
}

.chapter-header-text {
  border: 1px solid #c9ce8c;
  padding: 2rem 1rem;
}
.chapter-header-text > h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.chapter-header-text > span {
  font-size: 19px;
  line-height: 35px;
}

#nextPrevious-buttons {
  margin-top: 25px;
}

/* BlogPage Section-- */

.blogPage-parent {
  background-color: #3e432f;
  color: #c9ce8c;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader-verse {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
}

.blogPage-text-acct {
  padding: 2rem;
  border: 1px solid #c9ce8c;
}

.blogPage-acct-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blogPage-acct-menu > span {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 12px;
}

.blogPage-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: 0.5s ease-in-out;
}

.verseHover:hover {
  color: aliceblue;
}

.exegesis-btn {
  cursor: pointer;
  border-radius: 18px;
  padding: 10px 15px;
  color: #c9ce8c;
  border: none;
  background-color: #232c08;
  transition: 0.4s ease-in-out;
}

.exegesis-btn:hover {
  color: #232c08;
  background-color: #c9ce8c;
}

.verseHover {
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: 0.4s ease-in-out;
}
.blogPage-info-menu {
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: space-between;
}

.heart-icon {
  border-top: 1px solid #c9ce8c;
  padding-top: 1rem;
  display: flex;
  justify-content: end;
}

.votd-error {
  border: 1px solid #c9ce8c;
  padding: 2rem;
  font-size: 14px;
  font-style: italic;
}

/* Verse-Prayer Section-- */

.verse-prayer-container {
  background-color: #3e432f;
  color: #c9ce8c;
  padding: 4rem 5rem;
  height: 100vh;
}

.verse-prayer-contentHolder {
  border: 1px solid #c9ce8c;
  padding: 4rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.verse-prayer-contentHolder > div h3 {
  margin-bottom: 15px;
}

.verse-prayer-contentHolder > div > span {
  margin-bottom: 20px;
}

.homeBtn button {
  display: flex;
  margin: 0 0 10px auto;
  cursor: pointer;
  padding: 10px 18px;
  background-color: #c9ce8c;
  color: #232c08;
  border: 1px solid #c9ce8c;
  transition: 0.4s ease-in-out;
}

.homeBtn button:hover {
  border: none;
  background-color: #232c08;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
}

/* BlogDetailPage Section-- */

.detailPage-parent {
  background-color: #3e432f;
  color: #c9ce8c;
  padding: 4rem 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailPage {
  border: 1px solid #c9ce8c;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailPage > h1 {
  text-align: center;
  margin-bottom: 15px;
}

.detailPage-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Explore Section--- */

.explorePage-parent {
  background-color: #c9ce8c;
  color: #3e432f;
  padding: 4rem 5rem;
}

.explorePage-parent > h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.explore-info-holder {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 18rem;
  margin-top: 2.5em;
}

.explore-info-holder > h3 {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 600;
}

.explore-info-holder > span {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.explore-info-holder > div {
  width: 18rem;
}

.explore-info-holder > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exloreDateIcon {
  display: flex;
  align-items: center;
  gap: 7px;
}

.heroImg-loader {
  height: 20rem;
}

/* Error Page--- */

.error-page-main {
  background-color: #c9ce8c;
  color: #3e432f;
  padding: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.error-page-main > h1 {
  font-size: 30px;
}

.error-back-btn-link > button {
  cursor: pointer;
  padding: 13px 25px;
  background-color: #232c08;
  color: #c9ce8c;
  border: 1px solid #c9ce8c;
  transition: 0.4s ease-in-out;
  border-radius: 4px;
}

.error-back-btn-link > button:hover {
  background-color: #c9ce8c;
  color: #232c08;
  border: 1px solid #232c088c;
}

.error-message {
  height: 100vh;
}

#error-id {
  background-color: #3e432f;
  color: #c9ce8c;
  padding: 5rem;
}

#error-id > p {
  border: 1px solid #c9ce8c;
  padding: 2rem;
}

/* Media Queries--- */

@media screen and (max-width: 950px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .dropdown-menu {
    animation: slideFromLeft 0.7s ease-in-out;
  }

  .getAnswers-eachQuest-holder {
    padding: 10px 0 20px 0;
    flex-direction: column;
  }

  .getAnswers-eachQuest-holder > p {
    width: 100%;
  }

  .getAnswer-bold {
    font-size: 18px;
  }

  .heroSection {
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 850px) {
  .ourJourney-discoveryHolder {
    gap: 25px;
    padding-left: 0;
  }

  .getAnswer-text-info {
    padding-left: 0;
  }
  .footer-flex {
    flex-direction: column;
    gap: 50px;
  }

  .newsletter-input-btn {
    flex-direction: column;
  }
  .newsletter-input-btn > input[type="email"] {
    width: 100%;
  }

  .selection-label > h1 {
    font-size: 25px;
  }

  .blogPage-content-holder {
    flex-direction: column;
  }

  .detailPage-parent {
    padding: 4rem 3rem;
  }

  .blogPage-parent {
    padding: 4rem 3rem;
  }
}

@media screen and (max-width: 750px) {
  .heroSection {
    padding: 3rem 1rem;
  }
  .heroSection > h1 {
    font-size: 56px;
  }
  .ourjourney-parent {
    padding: 3rem 1rem;
  }
  .ourjourney-holder > h2 {
    font-size: 50px;
  }
  .getAnswer-parent > h2 {
    font-size: 50px;
  }
  .footer-parent {
    padding: 5rem 1rem;
  }

  .bible-parent {
    padding: 3rem 1rem;
  }
  .bible-holder {
    padding: 4rem 1rem;
  }
  .selectedBibleVerse-parent {
    padding: 2rem 1rem;
  }

  .selectedBibleVerse-parent > h2 {
    margin-bottom: 1rem;
  }

  .selection-label > h1,
  .selection-label > h2,
  .selectedBibleVerse-parent > h2 {
    font-size: 20px;
  }
  .detailPage-parent {
    padding: 4rem 1rem;
  }

  .detailPage {
    padding: 2rem 1rem;
  }

  .detailPage > h1 {
    font-size: 25px;
  }

  .blogPage-text-acct {
    padding: 2rem 1rem;
  }

  .blogPage-parent {
    padding: 4rem 1rem;
  }

  .explorePage-parent {
    padding: 4rem 1rem;
  }

  .explore-info-holder {
    height: auto;
    width: 100%;
  }

  .explore-info-holder > div {
    width: 100%;
    height: auto;
  }
  .verse-prayer-contentHolder {
    padding: 4rem 1rem;
  }
  .verse-prayer-container {
    padding: 4rem 1rem;
  }
  .error-page-main {
    padding: 5rem 1rem;
  }
}
